
body {
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.header {
    background-color: #222;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 24px;
}

.header h2 {
    font-size: 18px;
}

.main {
    min-height: 100vh;
    margin-top: 70px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.form {
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-right: 10%;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.x, .y, .r {
    margin: 2%;
}


input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #666;
    border: none;
    border-radius: 5px;
    color: white;
}


.rows {
    display: flex;
    justify-content: space-between;
}

.row1, .row2 {
    flex-basis: 100%;
}

.row1 span, .row2 span {
    font-size: 16px;
    margin-right: 5px;
}

/*a {*/
/*    background-color: #6d6d6d; !* Green *!*/
/*    border: none;*/
/*    color: white;*/
/*    padding: 15px 15px;*/
/*    margin: 15px 15px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    font-size: 16px;*/
/*}*/

#subbmit {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#subbmit:hover {
    background-color: #222;
}


.results {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 45px;
}

thead th, tbody td {
    border: 1px solid #555;
    padding: 8px;
    text-align: center;
}


input[type="text"]::placeholder,
input[type="number"]::placeholder {
    color: #aaa;
}


input[type="text"][id="Y-Input"],
input[type="number"][id="X-Input"],
select[name="R-Input"],
#subbmit {
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
}


.results table thead tr {
    background-color: #6d6d6d;
}

.results table tbody tr {
    background-color: #444;
}

.results table tbody tr th {
    padding: 8px;
}


.header h1, .header h2 {
    font-weight: normal;
}

.error span {
    color: red
}

#plot {
    background-color: whitesmoke;
}

svg {
    width: 300px;
    height: 300px;
    position: relative;
}

#plot #pointer {
    fill-opacity: 0.7;
    fill: red;
    stroke:firebrick;
    r: 5;
    visibility: hidden;
}